opencv-python>=4.9.0.80
numpy>=1.21.5
colormath>=3.0.0
tqdm>=4.64.1
setuptools>=65.6.3
colorama>=0.4.6
packaging>=23.1
requests>=2.31.0
gooey @ git+https://github.com/ChenglongMa/Gooey/tarball/mine#egg=Gooey-1.2.0-ALPHA