opencv-python~=4.10.0.84
numpy~=2.2.1
colormath~=3.0.0
tqdm~=4.67.1
setuptools>=65.6.3
colorama>=0.4.6
packaging~=24.2
requests~=2.32.3
# For GUI
gooey~=1.0.8.1
# https://github.com/chriskiehl/Gooey/issues/887#issuecomment-1680192972
colored==1.4.4
re-wx==0.0.10